<a href="https://colab.research.google.com/github/BartoszJanJerzy/data-science-bootcamp/blob/master/5_Array_podstawowe_funkcje_w_bibliotece_NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [4]:
# stała exp
np.exp(1)

2.718281828459045

In [6]:
# pierwiastek
np.sqrt(4)

2.0

In [7]:
# czy WSZYSTKIE wartości są True?
np.all([2,3,1])

True

In [8]:
# czy JAKAKOLWIEK wartośc jest True
np.any([0,0,0,1])

True

In [10]:
# zwracanie wartośic logicznej
bool('blablablabla')

True

In [17]:
# wyciąganie indeksu wartości największej
a = np.random.rand(5)
print(a)
print(np.argmax(a))

# i najmniejszej...
print(np.argmin(a))

# sortowanie rosnąco
print(np.argsort(a))

[0.89494939 0.63360678 0.70355967 0.66125823 0.49963987]
0
4
[4 1 3 2 0]

In [18]:
# statystyki opiswoe
print(np.max(a), np.min(a), np.median(a), np.mean(a), np.std(a))

0.8949493935875867 0.49963986670834004 0.6612582306077678 0.6786027885656654 0.12789206499852446